*{
    margin: 0;
    outline: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size:16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,body{
    display: block;
    height: 100%;
    
    

}

body{
    background:radial-gradient(#00fa9a, #009afa);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

h2{
    color:rgba(0, 0, 0,.7);
    font-size: 1.5em;
}
.container{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    margin:30px;
    padding: 10px;
    border-radius: 4px;

    
}

span{
    color:#666;
    
}

form{
    border:2px dashed #666;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;    

}

.dropzone{
    position: relative;
    box-sizing: border-box;
}

input{
    position: absolute;
        top: 0;
        right: 0;
        
        min-height: 100%;
        width:100%;
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
}