*{
    margin: 0;
    outline: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size:16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html,body{
    display: block;
    height: 100%;
    
    

}

body{
    background:radial-gradient(#00fa9a, #009afa);
    
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}

h2{
    color:rgba(0, 0, 0,.7);
    font-size: 1.5em;
}
a{
    text-decoration: none;
}
.title a{
    color:#fff;
    font-size: 40px;
    
}
.title{
    color:#fff;
    font-size: 40px;
    
}
.container{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    margin:30px;
    padding: 10px;
    border-radius: 4px;

    
}
.container-lg{
    width: 100%;
    max-width: 750px;
    
    margin:30px;
    
    border-radius: 4px;
    min-height: fit-content;
    

    display: flex;
    
    justify-content: initial;
    flex-direction: column;




    
}

.container-header{
    margin-top: 20px;
    
}
span{
    color:#666;
    
}

form{
    border:2px dashed #666;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;    

}

.dropzone{
    position: relative;
    box-sizing: border-box;
}

input{
    position: absolute;
        top: 0;
        right: 0;
        
        min-height: 100%;
        width:100%;
        opacity: 0;
        outline: none;
        cursor: inherit;
        display: block;
}

.uploaded{
    margin-top:20px;
    width: 100%;
    flex: 1;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;




}

.uploadedNow{
    margin-top:20px;
    width: 100%;
    flex: 1;
    
    display: flex;
    flex-direction: column;
    




}

.file{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:20px;
}

.fileData{
    display: flex;
    align-items: center;
    justify-content: initial;
    
}

.fileData img{

    width: 30px;
}

.fileStatus img{
    width: 30px;
}

.loading{
    width: 30px;
}

.path{
    flex:1;
    background-color:#fff;
    
    border-radius:4px;
    border:1px solid #666;
    margin-left:10px;
    margin-right:10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;

    

    

}





.btnUpload{
    color:#fff;
    background-color: rgb(64, 223, 64);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    max-width:400px;
    border:0;
    border-radius: 4px;
    
    cursor:pointer;
    

}

.btnUpload:disabled{
    color:#fff;
    background-color: rgba(64, 223, 64,0.6);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border:0;
    border-radius: 4px;

    cursor: not-allowed;
    

}

.uploadedFile{
    
    
    
    max-height: 60px;
    flex:1;
    margin:10px;
    min-width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor:pointer;
    
    
    

}

.uploadedFile img{
    width: 30%;
    margin:5px;
    max-width: 50px;
}
